extend layout 
block content 
    section.obra-detalle 
        .obra-header 
            h2.obra-titulo= obra.titulo
            p.obra-autor #{obra.autor}, #{obra.anio}

        .obra-content 
            .obra-imagen-grande 
                img.obra-img-detalle(src=obra.imagen, alt=obra.titulo)
            .obra-descripcion 
                h3 Descripción 
                p= obra.descripcion
                .obra-navegacion 
                    a.btn(href="/galeria") Volver a la Galería